{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">

    <style>
        img
        {
            height: 1080px;
            width: 1920px;
        }
    </style>
</head>
<body>
    </body>
    <center>
        <h1>PRASANT ACHARY</h1>
        <button class="btn btn-info">click here </button>

    <div class="card">
        <img src="{% static 'images/66.jpg'%}" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">BEAUTIFUL SCENARY</h5>
          <p class="card-text">Positive thoughts can have a powerful impact on our lives. Research has found that they can boost our mood, increase our motivation, and improve our overall well-being. One way to cultivate positive thinking is through reading and reflecting on positive quotes.            .</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>ENTER</a>
        </div>
      </div>
      
      
      <div class="card">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="{% static 'images/B1.jpg'%}" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Red Fountain Grass </h5>
          <p class="card-text">Botanical Name: Pennisetum setaceum Rubrum 
             USDA Zones: 9-10
             With burgundy-red foliage that sways in the breeze., the Red Fountain Grass is perfect for adding texture and movement to your garden. It is a great example of Red Foliage Plant varieties that are low-maintenance and suitable for busy gardeners</p>
          <a href="#!" class="btn btn-primary" data-mdb-ripple-init>ENTER</a>
        </div>
      </div>

      <span class="badge badge-primary">Red-Leaf Japanese Maple </span>
    <span class="badge badge-secondary">Burgundy Loropetalum</span>
    <span class="badge badge-success">Poinsettia</span>
    <span class="badge badge-danger">Canadian Redbud Tree</span>
    <span class="badge badge-warning">Canadian Redbud Tree</span>
    <span class="badge badge-info">Coleus</span>
    <span class="badge badge-light">Diablo Ninebark</span>
    <span class="badge badge-dark">Gagnepain Barberry</span>

    <!-- Facebook -->
<a class="btn text-white" data-mdb-ripple-init style="background-color: #3b5998;" href="#!" role="button">
    <i class="fa-brands fa-facebook"></i>
  </a>
  
  <!-- Twitter -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #55acee;" href="#!" role="button">
    <i class="fab fa-twitter"></i>
  </a>
  
  <!-- Google -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #dd4b39;" href="#!" role="button">
    <i class="fab fa-google"></i>
  </a>
  
  <!-- Instagram -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ac2bac;" href="#!" role="button">
    <i class="fab fa-instagram"></i>
  </a>
  
  <!-- Linkedin -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #0082ca;" href="#!" role="button">
    <i class="fab fa-linkedin-in"></i>
  </a>
  
  <!-- Pinterest -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #c61118;" href="#!" role="button">
    <i class="fab fa-pinterest"></i>
  </a>
  
  <!-- Vkontakte -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #4c75a3;" href="#!" role="button">
    <i class="fab fa-vk"></i>
  </a>
  
  <!-- Stack overflow -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ffac44;" href="#!" role="button">
    <i class="fab fa-stack-overflow"></i>
  </a>
  
  <!-- Youtube -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ed302f;" href="#!" role="button">
    <i class="fab fa-youtube"></i>
  </a>
  
  <!-- Slack -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #481449;" href="#!" role="button">
    <i class="fab fa-slack-hash"></i>
  </a>
  
  <!-- Github -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #333333;" href="#!" role="button">
    <i class="fab fa-github"></i>
  </a>
  
  <!-- Dribbble -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ec4a89;" href="#!" role="button">
    <i class="fab fa-dribbble"></i>
  </a>
  
  <!-- Reddit -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ff4500;" href="#!" role="button">
    <i class="fab fa-reddit-alien"></i>
  </a>
  
  <!-- Whatsapp -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #25d366;" href="#!" role="button">
    <i class="fab fa-whatsapp"></i>
  </a>
    
</center>

    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>